.moviecards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .card {
    // padding: 3px;
    width: 300px;
    height: 450px;
    border: 2px solid black;
    border-radius: 25px;
  }
}

.card:hover {
  // transform: scale(1.1);
  // opacity: 0.5;
  transition-timing-function: ease-in-out;
  -moz-box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
  box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.8);
  transform: scale(1.03);
}

.card-title {
  margin: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-cards-info {
  border-radius: 25px;
  width: 300px;
  margin: 1rem;
  background-color: rgb(45, 45, 45);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.upcoming-movies {
  margin-left: 3rem;
}