// .carousel-inner {
//   height: 611px;
// }

// .carousel-caption {
// }
.whole-banner {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1299px) {
    #overview {
        display: none;
    }
}